<h1 class="d-flex justify-content-center align-content-center">Issue Book</h1><br>
<table class="d-flex justify-content-around border-1 m-5 relative">
		
		<tr class="border-dark">
				<th class="border-2 p-2 text-center"><b>User Id</th>
				<th class="border-2 p-2 text-center"><b> Book Name</th>
				<th class="border-2 p-2 text-center"><b>Days</th>
				<th class="border-2 p-2 text-center"><b>Date of Issue</th>
		</tr>		
			<% @issue_books.each do |issue_book|%>
			<% if (current_user.is_admin) || (current_user.id == issue_book.user.id)  %>
					<tr>
						<td class="border-1 p-2"><%= issue_book.user_id %></td>
						<td class="border-1 p-2"><%= issue_book.book.name %></td>
						<td class="border-1 p-2"><%= issue_book.period_of_days %></td>
						<td class="border-1 p-2"><%= issue_book.created_at.strftime('%B %d, %Y') %></td>
					</tr>							
			<% end %>
			<%end%>
	

</table>
